<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCities 2021</span>
        <span>Website built by <a href="https://github.com/activemeasures1189">Sabby K</a></span>
    </div>
</footer>